<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="failMissing_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="failMissing" type="xboolean" value="false"/>
<config key="dimension_selection_Internals">
<entry key="SettingsModelID" type="xstring" value="SettingsModelChoiceIntDouble.modelTypeID"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="dimension_selection">
<entry key="choice" type="xboolean" value="false"/>
<entry key="doubleVal" type="xdouble" value="100.0"/>
<entry key="intVal" type="xint" value="2"/>
<config key="eigenvalues">
<entry key="array-size" type="xint" value="16"/>
<entry key="0" type="xdouble" value="0.25374550493426684"/>
<entry key="1" type="xdouble" value="0.3709759101250586"/>
<entry key="2" type="xdouble" value="0.4388984722746257"/>
<entry key="3" type="xdouble" value="0.5078630398299973"/>
<entry key="4" type="xdouble" value="0.601823671318875"/>
<entry key="5" type="xdouble" value="0.6485262652966286"/>
<entry key="6" type="xdouble" value="0.7435596795652339"/>
<entry key="7" type="xdouble" value="0.8205809249829918"/>
<entry key="8" type="xdouble" value="1.2924707071542998"/>
<entry key="9" type="xdouble" value="1.3441818213272438"/>
<entry key="10" type="xdouble" value="1.5723195289697582"/>
<entry key="11" type="xdouble" value="1.9115664452325194"/>
<entry key="12" type="xdouble" value="2.1269611959955856"/>
<entry key="13" type="xdouble" value="2.572974120944945"/>
<entry key="14" type="xdouble" value="19.896764352771058"/>
<entry key="15" type="xdouble" value="26.474995097087902"/>
</config>
</config>
<config key="removeColumns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="removeColumns" type="xboolean" value="false"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.mine.pca.PCAApplyNodeFactory"/>
<entry key="node-name" type="xstring" value="PCA Apply"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.3.1.v201612062044"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.3.1.v201612062044"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="PCA Apply"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 16, Cols: 32"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="64acec29-39f3-4cbb-a241-f3e2b38c0b0d"/>
</config>
</config>
